$yellow: #ffe445;

button {
  border: none;
  font: inherit;
  font-size: (14rem / 16);
  background: none;
}
.primary {
  background: $yellow;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray {
  border-radius: 3px 3px 0px 0px;
  background: #e3e3e3;
  padding: calc(10rem / 16);
}
