$borderColor: #cacaca;
.column {
  flex: 0 0 277px;
}
.tickets {
  min-height: 28px;
  & > *:not(:last-child) {
    margin-bottom: calc(10rem / 16);
  }
}
.title {
  margin-left: 1rem;
  margin-bottom: calc(14rem / 16);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #333333;
}
.bordered {
  border: 1px solid $borderColor;
  padding: calc(14em / 16);
  border-radius: 7px;
  & > *:not(:last-child) {
    margin-bottom: calc(10rem / 16);
  }
}
.plus {
  display: inline-block;
  margin-right: 7px;
  font-size: 18px;
}
