* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf),
    url(./assets/fonts/Montserrat-Medium.ttf);
  font-display: swap;
}
body {
  background-color: #f5f5f5;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}

input,
label,
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
  background: #eaeaea;
  border-radius: 3px;
  display: block;
}
::-webkit-scrollbar-thumb {
  background: rgba(182, 182, 182, 0.99);
  border-radius: 3px;
}
body:has(.modal-opened) *:not(.modal-container *) {
  overflow: hidden;
}
input[type='text'] {
  cursor: text;
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  right: 0;
  bottom: 0;
  &:has(> *) {
    display: block;
  }
}
